.principal{
    background-image: url("../../../assets/fundo-madeira.jpg");
    height: 100%;
    width: 100%;
    
}

.title{
    text-align: center;
}


.carousel-item img{
    width: 640px;
    height: 480px;
    border-radius: 20px;
}


/* .container-fluid{
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 90vh;
} */